{% extends 'base.html' %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <div class="PasswordArea">
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <h4 class="Title">Change password</h4>
                    <div class="form-group">
                        <label>Enter old password</label>
                        <input type="password" name="old_password" class="form-control"
                               placeholder="xxxxxxxxxx">
                    </div>
                    <div class="form-group">
                        <label>New password</label>
                        <input type="password" name="new_password1" class="form-control"
                               placeholder="xxxxxxxxxx">
                    </div>
                    <div class="form-group">
                        <label>Re-enter New password</label>
                        <input type="password" name="new_password2" class="form-control"
                               placeholder="xxxxxxxxxx">
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}